Syntax and Semantics in Python
Video Outline:

Single line Comments and multiline comments
Definition of Syntax and Semantics
Basic Syntax Rules in Python
Understanding Semantics in Python
Common Syntax Errors and How to Avoid Them
Practical Code Examples
Syntax refers to the set of rules that defines the combinations of symbols that are considered to be correctly structured programs in a language. In simpler terms, syntax is about the correct arrangement of words and symbols in a code.

Semantics refers to the meaning or the interpretation of the symbols, characters, and commands in a language. It is about what the code is supposed to do when it runs.

In [5]:
age = 32 
if age>30:
    print("You are above 30 years old.")
else:
    print("You are 30 years old or younger.")

You are above 30 years old.

In [7]:
x= 5; y= 10; z = x+y
print(z)

15

In [8]:
variable = "harshil"
print(type(variable))
variable = 10 
print(type(variable))

<class 'str'>
<class 'int'>

In [9]:
a = 100

In [10]:
type(a)

int

In [12]:
#declaring and assigning variabvle in python

age = 32
height = 5.7
name = "harshil"
is_student = True

#printitng the variables
print("Age:", age)
print("Height:", height)        
print("Name:", name)
print("Is Student:", is_student)

Age: 32
Height: 5.7
Name: harshil
Is Student: True

In [13]:
#naming convention
##variable to should be descriptive , theyt must start wth a letter or underscore , no spaces allowed , case sensitive
##examples of valid variable names, they are acse sensitive 

#valid variable names 

first_name = "Harshil"
last_name ="Solanki"

In [15]:
## python is dynamically typed language , we do not need to declare variable types explicitly means runtimw

age = 25          # integer
height = 5.9     # float    
name = "Alice"   # string
is_student = False  # boolean

print(type(age))

<class 'int'>

In [16]:
type(age)

int

In [17]:
age = 32

age_str = str(age)
type(age_str)

str

In [19]:
#dynamic typing
##python  is alllow type cof varible to change at the program execution time
var = 10
print(var, type(var))

var = "Hello"
print(var, type(var))   
var = 3.14
print(var, type(var))

10 <class 'int'>
Hello <class 'str'>
3.14 <class 'float'>

In [21]:
## INPUT 
NAME = input("Enter your name: ")
print("Hello, " + NAME + "!")

Hello, harshil!

In [22]:
num1 = input("Enter first number: ")
num2 = input("Enter second number: ")       

sum = float(num1) + float(num2)
difference = float(num1) - float(num2)
product = float(num1) * float(num2)
quotient = float(num1) / float(num2)

print("Sum:", sum)
print("Difference:", difference)               
print("Product:", product)
print("Quotient:", quotient)

Sum: 77.0
Difference: -9.0
Product: 1462.0
Quotient: 0.7906976744186046

DataTypes
1. Definition:
Data types are a classification of data which tell the compiler or interpreter how the programmer intends to use the data.
They determine the type of operations that can be performed on the data, the values that the data can take, and the amount of memory needed to store the data.
2. Importance of Data Types in Programming
Explanation:

Data types ensure that data is stored in an efficient way.
They help in performing correct operations on data.
Proper use of data types can prevent errors and bugs in the program.
Video Outline:

Introduction to Data Types
Importance of Data Types in Programming
Basic Data Types
Integers
Floating-point numbers
Strings
Booleans
Advanced Data Types
Lists
Tuples
Sets
Dictionaries
Type Conversion
Practical Examples

In [23]:
age = 35
type(age)

int

In [24]:
# floting data type data points
hright = 5.9
type(height)

float

In [25]:
# strin data type example
name = "Harshil Solanki"
type(name)

str

In [26]:
# boolean data type and example 
is_student = True   
type(is_student)

bool

# Deep Dive into Operators

## ðŸŽ¬ Introduction to Operators
- What are operators?
- Why operators are important in programming
- Types of operators in Python

---

## âž• Arithmetic Operators
Arithmetic operators are used to perform mathematical operations.

### â€¢ Addition (`+`)
- Combines two values into their sum

### â€¢ Subtraction (`-`)
- Finds the difference between two values

### â€¢ Multiplication (`*`)
- Multiplies two values

### â€¢ Division (`/`)
- Divides one value by another and returns a float

### â€¢ Floor Division (`//`)
- Divides and returns the integer part only

### â€¢ Modulus (`%`)
- Returns the remainder after division

### â€¢ Exponentiation (`**`)
- Raises a number to the power of another

---

## ðŸ” Comparison Operators
Used to compare values and return `True` or `False`.

### â€¢ Equal to (`==`)
### â€¢ Not equal to (`!=`)
### â€¢ Greater than (`>`)
### â€¢ Less than (`<`)
### â€¢ Greater than or equal to (`>=`)
### â€¢ Less than or equal to (`<=`)

---

## ðŸ§  Logical Operators
Used to combine multiple conditions.

### â€¢ AND (`and`)
- Returns `True` only if all conditions are true

### â€¢ OR (`or`)
- Returns `True` if at least one condition is true

### â€¢ NOT (`not`)
- Reverses the logical result

---

## ðŸ§ª Practical Examples and Common Errors
- Real-world examples using arithmetic, comparison, and logical operators
- Operator precedence issues
- Integer vs float behavior in division
- Common mistakes beginners make
- Best practices when combining conditions

In [27]:
## Arithmetic operators

a = 10
b=5 

sum = a + b
difference = a - b
product = a * b
quotient = a / b

print("Sum:", sum)
print("Difference:", difference)
print("Product:", product)
print("Quotient:", quotient)

Sum: 15
Difference: 5
Product: 50
Quotient: 2.0

In [28]:
#comparision opertaors
a= 10
b= 5
a==b

False

In [31]:
# Logocal opertators
a = True
b = False

result = a and b
print(result)

False

## Conditional Statements (if, elif, else)

### ðŸŽ¬ Introduction to Conditional Statements
- What are conditional statements?
- Importance of decision-making in programs
- Real-world examples of conditions

---

### ðŸŸ¢ `if` Statement
- Executes a block when a condition is true
- Basic syntax explanation
- Simple example

---

### ðŸ”µ `else` Statement
- Runs when the `if` condition is false
- Default / fallback behavior
- Example with comparison logic

---

### ðŸŸ¡ `elif` Statement
- Used for multiple conditions
- Prevents deeply-nested `if` structures
- Example with multi-branch logic

---

### ðŸ§© Nested Conditional Statements
- `if` statements inside other `if` blocks
- When nesting is useful
- Example scenario

---

### ðŸ§ª Practical Examples
- Real-world decision-making programs
- User inputâ€“based examples
- Combining comparison and logical operators

---

### âš ï¸ Common Errors and Best Practices
- Indentation mistakes
- Misusing `=` vs `==`
- Overusing nested conditions
- Importance of readability and clarity
- Prefer `elif` chains over deep nesting

In [34]:
#if statement
age = int(input("Enter your age: "))
if age > 20:
    print("You are above 20 years old.")
else:
    print("You are 20 years old or younger.")

You are above 20 years old.

In [35]:
# else 
# The else statement is used in conjunction with an if statement to define a block of code that will be executed if the condition in the if statement evaluates to False. It provides an alternative path of execution when the if condition is not met.

In [36]:
# elif
# allows us to check for multiple conditions in sequatial manner.

age = int(input("Enter your age: "))
if age < 13:
    print("You are a child.")       
elif age < 20:
    print("You are a teenager.")
else:
    print("You are an adult.")

You are an adult.

In [37]:
#nested cinditional statement

age = int(input("Enter your age: "))
if age >= 18:
    print("You are an adult.")
    if age >= 65:
        print("You are a senior citizen.")
    else:
        print("You are not a senior citizen.")

You are an adult.
You are not a senior citizen.

In [40]:
num = int(input("Enter a number: "))
if num>=0:
    print("The number is positive.")
    if num%2==0:
        print("The number is even.")
    else:
        print("The number is odd.")
else:
    print("The number is negative.")

The number is negative.

In [42]:
## Practcal example

# determinie the uf unput year is leap year or usiong the nested conmdition statement
year = int(input("Enter a year: "))
if year %4 ==0:
    if year %100 ==0:
        if year %400 ==0:
            print(year, "is a leap year.")
        else:
            print(year, "is not a leap year.")
    else:
        print(year, "is a leap year.")
else:
    print(year, "is not a leap year.")

2021 is not a leap year.

In [44]:
# simple calculator using if-else statement
num1 = float(input("Enter a number :"))
num2 = float(input("Enter another number :"))
operation = input("Enter operation (+, -, *, /): ")

if operation == "+":
    result = num1 + num2
elif operation == "-":
    result = num1 - num2
elif operation == "*":
    result = num1 * num2
elif operation == "/":
    if num2 != 0:
        result = num1 / num2
    else:
        result = "Error: Division by zero!"
else:
    result = "Invalid operation!"
print("Result:", result)

Result: 3.0

In [47]:
# determine the grade bazed on the marks using the if else statement
marks = float(input("Enter your marks: "))
if marks >= 90:
    if marks >= 95:
        grade = "A+"
        grade = "Your rank will be in 1 to 5"
elif marks >= 80:
    grade = "B"
elif marks >= 70:
    grade = "C"
elif marks >= 60:
    grade = "D"
elif marks >= 50:
    grade = "E"
else:
    grade = "F"

print("Your grade is:", grade)

Your grade is: Your rank will be in 1 to 5

# Loops
Video Outline:

- Introduction to Loops
- for Loop
    - Iterating over a range
    - Iterating over a string
- while Loop
- Loop Control Statements
    - break
    - continue
    - pass
- Nested Loops
- Practical Examples and Common Errors

In [50]:
# FOR LOOP
for i in range(5):
     print(i)

0
1
2
3
4

In [51]:
for i in range (1,6):
    print(i)

1
2
3
4
5

In [52]:
range (1,10,2)

range(1, 10, 2)

In [56]:
for i in range(41,13,-2):
    print(i)

41
39
37
35
33
31
29
27
25
23
21
19
17
15

In [57]:
#string

str ="Harshi"

for i in str:
    print(i)

H
a
r
s
h
i

In [61]:
# while loop

# while loop continues to exceute as long as the condition is true

count = 0
while count <5:
    print(count)
    count = count + 1

0
1
2
3
4

In [63]:
count = 0
while count %2 == 0:
    print(count)
    count = count + 1

0

In [64]:
# loop control statements

## break statement
# the break statement exits the loop prematurely
for i in range(10):
    if i == 5:
        break
    print(i)

0
1
2
3
4

In [65]:
## continues statement
# the continue statement skips the current iteration and moves to the next iteration
for i in range(10):
    if i % 2 == 0:
        continue
    print(i)

1
3
5
7
9

In [66]:
# pass
# the pass  statement is null operation : it does nothing

for i in range(5):
    if i ==3:
        print("Thhe number is ",i)
        pass
    print(i)

0
1
2
Thhe number is  3
3
4

In [67]:
#nested loops
# a loop inside a loop

for i in range(3):
    for j in range(2):
        print(f"i: {i}, j: {j}")

i: 0, j: 0
i: 0, j: 1
i: 1, j: 0
i: 1, j: 1
i: 2, j: 0
i: 2, j: 1

In [68]:
## example - calculate the sum of the foirst n batural numbers using the while and for loop

# while loop

n=10
sum = 0
count = 1

while count<=n:
    sum = sum + count
    count = count + 1

print("Sum of first", n, "natural numbers is:", sum)

Sum of first 10 natural numbers is: 55

In [69]:
n = 10
sum = 0
count = 0
for i in range(11):
    sum = sum + i
print("Sum of first", n, "natural numbers is:", sum)

Sum of first 10 natural numbers is: 55

In [70]:
## example display the prime number between 1 and 100

for num in range (1, 100):
    if num>1:
        for i in range (2, num):
            if (num % i) == 0:
                break
        else:
            print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

### Conclusion:
 Loop are powerful constructs in python that allows you to execute a block of code multiple times. By understanding and using for and while loops, alog with loop control statements like break, continue, and pass you can handle a wide raneg of programming task efficiently.

## Introduction to Lists

- Lists are **ordered, mutable collections** of items  
- They can contain elements of **different data types**

---

### ðŸŽ¬ Video Outline

- Introduction to Lists  
- Creating Lists  
- Accessing List Elements  
- Modifying List Elements  
- List Methods  
- Slicing Lists  
- Iterating Over Lists  
- List Comprehensions  
- Nested Lists  
- Practical Examples and Common Errors

In [76]:
lst =[]
print(type(lst))

<class 'list'>

In [77]:
lst = ["Harshil","Jay", 1,2,3,4]
print(lst)

['Harshil', 'Jay', 1, 2, 3, 4]

In [78]:
mixed_list = ["Harshil", 25, 5.9, True]
print(mixed_list)

['Harshil', 25, 5.9, True]

In [79]:
### Acccesing list elements

fruits = ["apple", "banana", "cherry", "date"]
print(fruits[0])  # Accessing the first element

apple

In [80]:
print(fruits[1:])

['banana', 'cherry', 'date']

In [81]:
print(fruits[1:2:1])

['banana']

In [82]:
print(fruits[-1:])

['date']

In [83]:
#modifying the list element
fruits

['apple', 'banana', 'cherry', 'date']

In [84]:
fruits[1]= "blueberry"
fruits

['apple', 'blueberry', 'cherry', 'date']

In [85]:
fruits[1:]= "watermelon"
fruits

['apple', 'w', 'a', 't', 'e', 'r', 'm', 'e', 'l', 'o', 'n']

In [86]:
fruits = ["apple", "banana", "cherry", "kiwi","date"]

In [88]:
## List methods

fruits.append("orange") # add the item to the end
fruits

['apple', 'banana', 'cherry', 'kiwi', 'date', 'orange']

In [89]:
fruits.insert(1,"watermelon")
print(fruits)

['apple', 'watermelon', 'banana', 'cherry', 'kiwi', 'date', 'orange']

In [90]:
fruits.remove("banana") # remove the first occurance of the item
fruits

['apple', 'watermelon', 'cherry', 'kiwi', 'date', 'orange']

In [92]:
## remove and return the last item

popped_fruit = fruits.pop()
print(popped_fruit)
print(fruits)

date
['apple', 'watermelon', 'cherry', 'kiwi']

In [93]:
fruits.insert(2,"banana")
print(fruits.count("banana"))

1

In [96]:
fruits.sort() # this will sort in the asceding order
fruits

['apple', 'banana', 'cherry', 'kiwi', 'watermelon']

In [97]:
fruits.reverse() # reverse the list 
fruits

['watermelon', 'kiwi', 'cherry', 'banana', 'apple']

In [98]:
# slicing list
numbers = [1,2,3,4,5,6,7,8,9,10]
print(numbers[2:7])  # Output: [3, 4, 5, 6, 7]
print(numbers[:5])    # Output: [1, 2, 3, 4, 5]
print(numbers[5:])    # Output: [6, 7, 8, 9, 10]
print(numbers[::2])    # Output: [6, 7, 8, 9, 10]
print(numbers[::-1])

[3, 4, 5, 6, 7]
[1, 2, 3, 4, 5]
[6, 7, 8, 9, 10]
[1, 3, 5, 7, 9]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [100]:
numbers[::]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [102]:
numbers[::-2]

[10, 8, 6, 4, 2]

In [103]:
## iterarting over the list

for fruit in fruits:
    print(fruit)

watermelon
kiwi
cherry
banana
apple

In [104]:
for numbers in numbers:
    print(numbers)

1
2
3
4
5
6
7
8
9
10

In [115]:
## iterating with index

numbers = [1,2,3,4,5,6,7,8,9,10]

for index,number in enumerate(numbers):
    print(index, number)

0 1
1 2
2 3
3 4
4 5
5 6
6 7
7 8
8 9
9 10

In [113]:
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [114]:
numbers[:]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [116]:
## list comprehension
list=[]
for x in range(14):
    list.append(x**2)
print(list)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169]

In [118]:
[x**2 for x in range(14)  ]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169]

### list comprehension

Basic syntax                    [expression fro item in iterable]

with conditional logic          [expression for item in iterable if condition]

Nested List comprehensive       [experession for item1 in iterable1 for item2 in iterable2]

In [119]:
## Basic list comprehension syntax

square = [num**2 for num in range(14)]
square

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169]

In [120]:
## list comprehension withe the condition
list =[]
for i  in range(10):
    if i % 2== 0:
        list.append(i)
print(list)

[0, 2, 4, 6, 8]

In [123]:
even_numbers =[num for num in range(10) if num % 2 == 0]
print(even_numbers)

[0, 2, 4, 6, 8]

In [127]:
## Nested list comprehension
lst1 =[1,2,3,4]
lst2 = ['a','b','c','d']

pair = [[i,j] for i in lst1 for j in lst2]

print(pair)

[[1, 'a'], [1, 'b'], [1, 'c'], [1, 'd'], [2, 'a'], [2, 'b'], [2, 'c'], [2, 'd'], [3, 'a'], [3, 'b'], [3, 'c'], [3, 'd'], [4, 'a'], [4, 'b'], [4, 'c'], [4, 'd']]

In [128]:
## list comrehensions with function call 

words = ["hello", "world", "python", "list", "comprehension"]
lengths = [len(word) for word in words] 
print(lengths)

[5, 5, 6, 4, 13]

### Conclusion
List comprehension are a powerful and concise way to operate list in python. They are syntactically compactand can replace more verbose looping constucts. Understanding the synatax of list comprehension will help you wrote clkeared and more efficient python code.